.sub-footer {
    /* border: 1px solid red; */
    margin-top: 20px;
    /* height: 50vh; */
}

.sub-footer .container {
    /* border: 1px solid black; */
    height: 100%;
}

.sub-footer .footer-box {
    /* border: 1px solid black; */
    height: 100%;
}

.footer-box button {
    width: 50%;
}

.footer-box button a {
    color: white;
    text-decoration: none;
}

.sitemap a {
    text-decoration: none;
    color: black;
}

